
.logo{
    width: 300px;
    height: auto;
}

body{
    background-color: #E2EAEA;
}

.btn-success{
    background-color: #70a596;
    border-color: #70a596;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 1.5rem;
    margin-right: 10px;
}

.btn-success:hover{
    background-color: rgb(75, 75, 75);
}
.btn-primary {
    background-color: #70a596;
    border-color: #70a596;
}

.grey{
    background-color: #383B3B;
    border-color: #383B3B;
    margin-left: 10px;
}

.nav-link{
    font-size: 1.2rem;
    margin: 7px;
    
}

.nav-link:hover{
    color: #70a596;
}

.navbar-toggler{
    width: 100px;
    border: none;
}

.navbar-toggler:hover{
padding: 10px;
}

.navbar-toggler-icon{
    width: 50px;
}

.me-auto{
    margin-left: auto !important;
}


/* Banner */
.banner-wrapper{
    background-image: url(../images/Banner\ img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
  
  }
.banner-title{
    display: block;
    font-size: 2.7em;
    font-weight: bold;
    color:#167474;
    margin-top: 45px;
    margin-left: 75px;
}

.intro{
    grid-column: 1;
    margin-left: 75px;
    margin-top: 25px;
    font-weight: 300;
    font-size: 1.7rem;
}

.d-grid {
    grid-column: 1;
    margin-left: 75px;
}

/* media screen MOBILE */

@media screen and (min-width: 428px){
    .navbar>.container-fluid{
      display: flex;
      flex-wrap: inherit;
      /* align-items: center;
      justify-content: center; */
    
    }

    .logo{
        width: 150px;
    }

    .navbar-toggler-icon{
        width: 50px;
    }

    .btn-success{
        background-color: #70a596;
        border-color: #70a596;
        padding: 10px 20px;
        border-radius: 10px;
        font-size: 1rem;
    }
    .banner-wrapper{
        background-image: url(../images/Banner\ img.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 180px;
        display: grid;
        grid-template-columns: 1fr 1fr;
      
      }
    .banner-title{
        display: block;
        font-size: 1em;
        font-weight: bold;
        color:#167474;
        margin-top: 25px;
        margin-left: 30px;
    }
    
    .intro{
        grid-column: 1;
        margin-left: 30px;
        margin-top: 15px;
        font-weight: 300;
        font-size: .7rem;
    }
    
    .d-grid {
        grid-column: 1;
        margin-left: 30px;
    }

    .btn-primary {
        background-color: #70a596;
        border-color: #70a596;
        font-size: .7rem;
        
        margin-left: 0;
        
    }
    
    .grey{
        background-color: #383B3B;
        border-color: #383B3B;
       
    }

  
}
/* Media Screen DESKTOP */

@media screen and (min-width: 1440px){
 .nav-link{
        font-size: 5rem;
        margin: 10px;
    }

    .logo{
        width: 200px;
    }
    .btn-success{
        background-color: #70a596;
        border-color: #70a596;
        padding: 10px 40px;
        border-radius: 10px;
        font-size: 15rem;
        /* margin-right: 20px; */
    }
    .navbar-expand-md .navbar-collapse {
        justify-content: center !important;
}
.banner-wrapper{
    background-image: url(../images/Banner\ img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  
  }
.banner-title{
    display: block;
    font-size: 10em;
    font-weight: bold;
    color:#167474;
    margin-top: 45px;
    margin-left: 75px;
}

.intro{
    grid-column: 1;
    margin-left: 75px;
    margin-top: 25px;
    font-weight: 300;
    font-size: 1.7rem;
}

.d-grid {
    grid-column: 1;
    margin-left: 75px;
}

}
   
/* Media screen TABLET */

@media screen and (min-width: 834px){
    .nav-link{
        font-size: 1.05rem;
        margin: 5px;
    }

    .logo{
        width: 180px;
    }
    .btn-success{
        background-color: #70a596;
        border-color: #70a596;
        padding: 7px 20px;
        border-radius: 10px;
        font-size: .60rem;
        margin-right: 20px;
        
    }
    .mb-2{
        margin-bottom: auto !important;
    }
    .banner-wrapper{
        background-image: url(../images/Banner\ img.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
        display: grid;
        grid-template-columns: 1fr 1fr;
      
      }
    .banner-title{
        display: block;
        font-size: 1.7em;
        font-weight: bold;
        color:#167474;
        margin-top: 50px;
        margin-left: 60px;
    }
    
    .intro{
        grid-column: 1;
        margin-left: 60px;
        margin-top: 35px;
        font-weight: 300;
        font-size: 1.2rem;
    }
    
    .d-grid {
        grid-column: 1;
        margin-left: 60px;
    }
}