
.logo{
    width: 300px;
    height: auto;
}

body{
    background-color: #E2EAEA;
}

.btn-success{
    background-color: #70a596;
    border-color: #70a596;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 1.5rem;
    margin-right: 10px;
}

.btn-success:hover{
    background-color: rgb(75, 75, 75);
}

.nav-link{
    font-size: 1.2rem;
    margin: 7px;
    
}

.nav-link:hover{
    color: #70a596;
}

.navbar-toggler{
    width: 100px;
    border: none;
}

.navbar-toggler:hover{
padding: 10px;
}

.navbar-toggler-icon{
    width: 50px;
}

.me-auto{
    margin-left: auto !important;
}

/* Banner */
.banner-wrapper{
    background-image: url(../images/Banner\ img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* media screen MOBILE */

@media screen and (min-width: 428px){
    .navbar>.container-fluid{
      display: flex;
      flex-wrap: inherit;
      /* align-items: center;
      justify-content: center; */
    
    }

    .logo{
        width: 150px;
    }

    .navbar-toggler-icon{
        width: 50px;
    }

    .btn-success{
        background-color: #70a596;
        border-color: #70a596;
        padding: 10px 20px;
        border-radius: 10px;
        font-size: 1rem;
    }
}
/* Media Screen DESKTOP */

@media screen and (min-width: 1440px){
 .nav-link{
        font-size: 5rem;
        margin: 10px;
    }

    .logo{
        width: 200px;
    }
    .btn-success{
        background-color: #70a596;
        border-color: #70a596;
        padding: 10px 40px;
        border-radius: 10px;
        font-size: 15rem;
        /* margin-right: 20px; */
    }
    .navbar-expand-md .navbar-collapse {
        justify-content: center !important;
}

}
   
/* Media screen TABLET */

@media screen and (min-width: 834px){
    .nav-link{
        font-size: 1.05rem;
        margin: 5px;
    }

    .logo{
        width: 180px;
    }
    .btn-success{
        background-color: #70a596;
        border-color: #70a596;
        padding: 7px 20px;
        border-radius: 10px;
        font-size: .75rem;
        margin-right: 20px;
        
    }
    .mb-2{
        margin-bottom: auto !important;
    }
}